<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace ="layouts :: head"></head>
		
 <nav th:replace = "layouts :: navbar"></nav>

<body>

<div class="container">

<hr>
<div class="row">
<div class="col-md-6">
<h4> Current Projects </h4>
	<table class="table table-bordered table-striped">
	  <thead class="thead-dark">
	        <tr>
	           <th> Project Name </th>
	           <th> Project Members </th>                 	             
	        </tr>
	    </thead>	    	  	         	       
	    
	    
	   <tbody>
	   <tr th:each="myVar : ${CountFeature}">
	        <td th:text="${myVar.getProjectName}"></td>

	        <td th:text="${myVar.getProjectMembers}"></td>
	     </tr>
	     
	     </tbody>
		   
	    
	  </table>
	</div>
	
	<div class="col-md-4">
   <canvas id="myPieChart" height="50" width="50"></canvas> 

</div>
 
</div>	  

<script>
 var chartData = "[[${projectStageVisual}]]"
 </script>
 
 
 </div>
 
 <script type="text/javascript" th:src="@{js/chart.js}"></script>


	  
  </body>
  
  </html>



